{% extends 'base.html' %}
{% load static %}

{% block main_content %}

<video autoplay muted loop id="bg-video">
    <source src="{% static 'bg.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
</video>

<div class="form-container sign-in-container">
     
    <form method="POST">

        {% csrf_token %}

        <h1>Enter Your-Email </h1>
        
      {% if messages %}
      {% for message in messages %}
          {% if message.tags == 'error' %}
              <center><h4 style="color: firebrick;">{{message}}</h4></center>
          {% else %}
              <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
          {% endif %}
      {% endfor %}
        {% endif %}
        <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>Enter your email to recive otp to confirm your account and change password  </span>
        <input type="email" required name="email">

        <input type="submit"id="submit"  value="Reset Password">
        <div class="signup_link">
            Not a member? <a href="{% url 'register' %}">Signup</a>
            <p>Remember your Password? <a href="{% url 'login' %}">Login</a></p> 
          </div>
    </form>
</div>
<div class="overlay-container">
    <div class="overlay">
      
        <div class="overlay-panel overlay-right">
            <h1>PASSWORD RESET</h1>
            <p>OTP Varification is just a varification to confirm that the credentials you used is yours . Just enter the 6 degit code you recived on your email </p>
            <button class="ghost" id="signUp">PASSWORD RESET RULES</button>
        </div>
    </div>
</div>

{% endblock main_content %}