{% extends 'base.html' %}
{% load static %}

{% block main_content %}


<video autoplay muted loop id="bg-video">
    <source src="{% static 'bg.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
</video>
<div class="form-container sign-in-container">
     
    <form method="post">
        {% csrf_token %}
        <h1>Enter Your OTP </h1>
        <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>We just sent you an otp on your email address currenly confirm your email through otp varifiaction </span>
        <input type="text" id="otp" name="otp" required placeholder="Enter your OTP">
        <button type="submit" id="submit">Verify</button>
    </form>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>
<div class="overlay-container">
    <div class="overlay">
      
        <div class="overlay-panel overlay-right">
            <h1>Varify Your Email </h1>
            <p>OTP Varification is just a varification to confirm that the credentials you used is yours . Just enter the 6 degit code you recived on your email </p>
            <button class="ghost" id="signUp">OTP VARIFACATION RULES</button>
        </div>
    </div>
</div>

{% endblock main_content %}