{% extends 'base.html' %}
{% load static %}

{% block main_content %}
<video autoplay muted loop id="bg-video">
    <source src="{% static 'bg.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
</video>


<div class="form-container sign-in-container">
    <form method="POST">

        {% csrf_token %}
        <h1>Enter New PAssword</h1>
        {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <center><h4 style="color: firebrick;">{{message}}</h4></center>
            {% else %}
                <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
            {% endif %}
        {% endfor %}
    {% endif %}
        <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>Enter a strong password to stay safe </span>
        <input type="password" required name="password">
        <input type="password" required name="confirm_password">

        <input type="submit"  id="submit" value="Reset Password">
        <div class="signup_link">
            Remember your password? <a href="{% url 'login' %}">Login</a>
        </div>
    </form>
</div>
<div class="overlay-container">
    <div class="overlay">
       
        <div class="overlay-panel overlay-right">
            <h1>Password Reset</h1>
           
          
            <p>Enter a strong password to keep your account safe and protected from strangers . contact us for any kind of security reason . </p>
        </div>
    </div>
</div>

{% endblock main_content %}